In [1]:
import pandas as pd

In [10]:
datafile = './data/air_data.csv'
data = pd.read_csv(datafile, encoding='utf-8')

In [11]:
data.head().T

,0,1,2,3,4
MEMBER_NO,54993,28065,55106,21189,39546
FFP_DATE,2006/11/02,2007/02/19,2007/02/01,2008/08/22,2009/04/10
FIRST_FLIGHT_DATE,2008/12/24,2007/08/03,2007/08/30,2008/08/23,2009/04/15
GENDER,男,男,男,男,男
FFP_TIER,6,6,6,5,6
WORK_CITY,.,NaN,.,Los Angeles,贵阳
WORK_PROVINCE,北京,北京,北京,CA,贵州
WORK_COUNTRY,CN,CN,CN,US,CN
AGE,31,42,40,64,48
LOAD_TIME,2014/03/31,2014/03/31,2014/03/31,2014/03/31,2014/03/31
FLIGHT_COUNT,210,140,135,23,152
BP_SUM,505308,362480,351159,337314,273844
EP_SUM_YR_1,0,0,0,0,0
EP_SUM_YR_2,74460,41288,39711,34890,42265
SUM_YR_1,239560,171483,163618,116350,124560
SUM_YR_2,234188,167434,164982,125500,130702
SEG_KM_SUM,580717,293678,283712,281336,309928
WEIGHTED_SEG_KM,558440,367777,355966,306901,300834
LAST_FLIGHT_DATE,2014/03/31,2014/03/25,2014/03/21,2013/12/26,2014/03/27
AVG_FLIGHT_COUNT,26.25,17.5,16.875,2.875,19
AVG_BP_SUM,63163.5,45310,43894.9,42164.2,34230.5
BEGIN_TO_FIRST,2,2,10,21,3
LAST_TO_END,1,7,11,97,5
AVG_INTERVAL,3.48325,5.19424,5.29851,27.8636,4.78808
MAX_INTERVAL,18,17,18,73,47
ADD_POINTS_SUM_YR_1,3352,0,3491,0,0
ADD_POINTS_SUM_YR_2,36640,12000,12000,0,22704
EXCHANGE_COUNT,34,29,20,11,27
avg_discount,0.961639,1.25231,1.25468,1.09087,0.970658
P1Y_Flight_Count,103,68,65,13,71
L1Y_Flight_Count,107,72,70,10,81
P1Y_BP_SUM,246197,177358,169072,186104,128448
L1Y_BP_SUM,259111,185122,182087,151210,145396
EP_SUM,74460,41288,39711,34890,42265
ADD_Point_SUM,39992,12000,15491,0,22704
Eli_Add_Point_Sum,114452,53288,55202,34890,64969
L1Y_ELi_Add_Points,111100,53288,51711,34890,64969
Points_Sum,619760,415768,406361,372204,338813
L1Y_Points_Sum,370211,238410,233798,186100,210365
Ration_L1Y_Flight_Count,0.509524,0.514286,0.518519,0.434783,0.532895
Ration_P1Y_Flight_Count,0.490476,0.485714,0.481481,0.565217,0.467105
Ration_P1Y_BPS,0.487221,0.489289,0.481467,0.551722,0.469054
Ration_L1Y_BPS,0.512777,0.510708,0.51853,0.448275,0.530943
Point_NotFlight,50,33,26,12,39

In [13]:
data_6 = data[data['FLIGHT_COUNT'] > 6]

In [18]:
data_6['FLIGHT_RATIO'] = data['L1Y_Flight_Count'] / data['P1Y_Flight_Count']

/Users/onionkev/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [63]:
data_6.loc[data_6['FLIGHT_RATIO'] < 0.5,'CUSTOMER_TYPE'] = 0
data_6.loc[(data_6['FLIGHT_RATIO'] >= 0.5) & (data_6['FLIGHT_RATIO'] <0.9), 'CUSTOMER_TYPE'] = 1
data_6.loc[data_6['FLIGHT_RATIO'] >= 0.9,'CUSTOMER_TYPE'] = 2

In [64]:
data_6['CUSTOMER_TYPE'].value_counts()

2    18703
1     7267
0     6656
Name: CUSTOMER_TYPE, dtype: int64