In [1]:
import pandas as pd

In [2]:
from apriori import * # 导入自行编写的apriori函数

In [3]:
inputfile = './data/menu_orders.xls'
outputfile = './tmp/apriori_rules.xls'

In [4]:
data = pd.read_excel(inputfile, header=None)

In [5]:
data.head()

   0  1    2    3
0  a  c    e  NaN
1  b  d  NaN  NaN
2  b  c  NaN  NaN
3  a  b    c    d
4  a  b  NaN  NaN

创建一个函数`ct`把`data`中的每一行转变为以内容为`index`数据均为`1`的`Series`

In [6]:
ct = lambda x: pd.Series(1, index = x[pd.notnull(x)])

In [7]:
b = map(ct, data.values)

`list(b)`的结果为长度为10的`Series`列表

In [8]:
data = pd.DataFrame(list(b)).fillna(0)

`pd.DataFrame`能自动将`Series`中相同的`index`合并为同一`column`

In [9]:
data.head()

     a    c    e    b    d
0  1.0  1.0  1.0  0.0  0.0
1  0.0  0.0  0.0  1.0  1.0
2  0.0  1.0  0.0  1.0  0.0
3  1.0  1.0  0.0  1.0  1.0
4  1.0  0.0  0.0  1.0  0.0

In [10]:
support = 0.2
confidence = 0.5
ms = '--'

In [11]:
result = find_rule(data, support, confidence, ms)

正在进行第1次搜索...
数目：6...

正在进行第2次搜索...
数目：3...

正在进行第3次搜索...
数目：0...

结果为：
         support  confidence
e--a         0.3    1.000000
e--c         0.3    1.000000
c--e--a      0.3    1.000000
a--e--c      0.3    1.000000
c--a         0.5    0.714286
a--c         0.5    0.714286
a--b         0.5    0.714286
c--b         0.5    0.714286
b--a         0.5    0.625000
b--c         0.5    0.625000
a--c--e      0.3    0.600000
b--c--a      0.3    0.600000
a--c--b      0.3    0.600000
a--b--c      0.3    0.600000